

{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">

    <h1><u><font style="https://fonts.google.com/specimen/Playfair+Display">WELCOME TO OUR SCHOOL STORE</font></u></h1>
    <p><b><i><u>Additional source of income</u></i></b></p>
    <br>
<img src="https://www.yourcharlotteschools.net/cms/lib/FL02211872/Centricity/Domain/1673/school-store-icon.jpg"><br>
  <p><b>
    This "local shop" can stock merchandise ranging from pencils to tasty snacks, and sell its wares to students, teachers, principals and even the occasional visitor. A school store, however, is more than a "convenience store;" its shelves also are stocked with the materials for building academic and lifelong learning skills. Included: Tips, resources for running school-based businesses.
  </b></p>

    <div class="col-md-6">
        <a href="{% url 'form' %}" class="btn btn-primary btn-lg">Continue Shopping</a>
      </div>
</div>
{% endblock %}
